Contrato de Nivel de servicios

Introducción

Este documento describe la administración de nivel de servicio y los acuerdos de nivel de servicio (SLA) para el uso del programa
que gestionara la administracion y rendimiento de los equipos de manera remota que garantice la alta dispiniilidad.
Incluye los factores de éxito importantes para que la administración de nivel de servicio y los indicadores de
rendimiento ayuden a evaluar el éxito. El documento también provee detalles significativos de los SLA que siguen pautas de práctica
identificadas por el equipo de servicio de gran disponibilidad.

Descripción general de la administración de niveles de servicio

Las organizaciones de la red han cumplido históricamente los requisitos de la red de extensión construyendo las infraestructuras
de red sólidas y trabajando reactivo para manejar los problemas del servicio individual. Cuando ocurra una interrupción, la
organización construirá nuevos procesos, capacidades de administración o infraestructura para evitar que una interrupción
particular vuelva a ocurrir. Sin embargo, debido a una tarifa más alta y a los requisitos de disponibilidad en aumento del
cambio, ahora necesitamos un modelo mejorado dinámico prevenir el tiempo de inactividad imprevisto y reparar rápidamente la red.
Mucho el proveedor de servicio y las organizaciones corporativas han intentado definir mejor el nivel de servicio requerido para
alcanzar las metas comerciales.

Factores de éxito crítico

Los factores de éxito crítico para los SLA se utilizan para definir los elementos fundamentales para con éxito construir los niveles
 de servicio obtenibles y para mantener los SLA. Para calificar como un factor crítico del éxito, un proceso o un paso del proceso
 debe mejorar la calidad del SLA y beneficiar la disponibilidad de la red en general. El factor crítico del éxito también debe ser
 cuantificable para que la organización pueda determinar cuán exitoso ha sido con relación al procedimiento definido.
Para obtener más información, consulte Implementación de la administración de nivel de servicio.
Indicadores de rendimiento

Los indicadores de rendimiento brindan el mecanismo por el cual una organización mide los factores de éxito críticos. Usted revisa
típicamente éstos en una base mensual para asegurarse de que las definiciones de nivel de servicio o los SLA están trabajando bien.
 El grupo de operaciones de red y los grupos de herramientas necesarias pueden realizar las siguientes mediciones.
Nota: Para las organizaciones sin los SLA, le recomendamos realizamos las definiciones de nivel de servicio y los estudios del
 servicio-nivel además de las métricas.
Los indicadores de rendimiento comprenden:
Definición de nivel de servicio documentada o SLA que incluye la Disponibilidad, el funcionamiento, el tiempo de respuesta del
servicio reactivo, los objetivos de la solución de problemas, y el incremento de la gravedad de los problemas.
Revisar reunión del servicio-nivel de la conexión de redes mensual para revisar la conformidad del servicio-nivel y para
implementar las mejoras.
Las mediciones de indicador de rendimiento, incluyendo la Disponibilidad, funcionamiento, tiempo de respuesta de servicio por
la prioridad, miden el tiempo para resolver por la prioridad, y otros parámetros de SLA mensurables.
Consulte Implementación de la administración de nivel de servicio, para obtener más información.
