{% extends "Base.html" %}
{% block page_title %}Observium | Borrar dispositivo{% endblock %}
{% block navbar %}
<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Bienvenido, {{ user.username }}
      </a>
      <ul class="dropdown-menu">
        <li class="user-header">
          {% for usuario in usuarios %}
            {% if usuario.Usuario_id  == user.id %}
            <img src="{{ usuario.Imagen.url }}" class="img-circle user-image img-responsive" alt="User Image">
            {% endif %}
          {% endfor %}
          <p>
            {% for usuario in usuarios %}
              {% if usuario.Usuario_id  == user.id %}
                {{user.username}} - {{ usuario.Descripcion }}
              {% endif %}
            {% endfor %}
            <small>Miebro desde {{ user.date_joined }}</small>
          </p>
        </li>
        <li class="user-footer">
          <div class="pull-right">
            <a href="{% url "Usuario:logout" %}" class="btn btn-default btn-flat">
              logout
            </a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>
  </ul>
</div>
{% endblock %}
{% block userimage %}
<div class="pull-left image">
  {% for usuario in usuarios %}
    {% if usuario.Usuario_id  == user.id %}
    <img src="{{ usuario.Imagen.url }}" class="img-circle user-image img-responsive" alt="User Image">
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
{% block content %}
<h2>Editar un dispositivo</h2>
<div class="form ">
  <form  method="POST" class="well" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Nombre del Host</label>
        {{ form.NombreHost }}
    </div>
    <div class="form-group">
        <label>Ip</label>
        {{ form.Ip }}
    </div>
    <div class="form-group">
        <label>Ip publica</label>
        {{ form.Ip_publica }}
    </div>
    <div class="form-group">
        <label>Protocolo</label>
        {{ form.Protocolo }}
    </div>
    <div class="form-group">
        <label>Puerto</label>
        {{ form.Puerto }}
    </div>
    <div class="form-group">
        <label>Comunidad</label>
        {{ form.Comunidad }}
    </div>
    <div class="form-group">
        <label>Usuario del Dispositivo</label>
        {{ form.Usuario_Dispositivo }}
    </div>
    <button type="submit" class="btn btn-default btn-block">Editar</button>
  </form>
</div>
{% endblock %}
